{% extends "fetch_data\base.html" %}
{% load static %}

{% block head-title %}
    <title>{{ user.firstname }}'s Profile Page</title>
{% endblock %}

{% block head-static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/profile.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}


{% block body %}
<div class="container-fluid" style="padding: 80px">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h2 class="mb-1" style="font-weight: bold; font-size: 32px;">Profile Page</h2>
                </div>
                <div class="card-body p-5 text-left">
                <div class="form-outline mb-4">
                     {% if user.is_superuser %}
                    <h2 class="info">You are a Superuser</h2>
                    <br>
                    {% endif %} 
                    {% comment %} {% else %} {% endcomment %}
                    <h3>Name: {{ user.first_name }} {{ user.last_name }}</h3>
                    <h3>Username: <span class="username">@{{ user.username }}</span></h3>
                    <h3>Email: <span class="username">{{ user.email }}</span></h3>

                <hr class="my-4">
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}