{% extends "fetch_data\base.html" %}
{% load static %}

{% block body %}
<div class="container">
{{ form.media }}
<form action="{% url 'fetch_data:SentinelFetch' %}" method="post">
{% csrf_token %}
<div class="row" style="padding: 25px; border-radius: 25px; background-color: #D9DCD2; margin: 6px">
    <div class="col-6" style="background-color: #ECFFE0; padding: 50px; border-radius: 25px;">
    <h2 style="font-weight: bold; color: #943BBE">Coordinations</h3>
    <br>
        <div>
        <label for="coordinate_type" style="font-weight: bold">Choose Coordinate Type:</label>
        <select id="coordinate_type" name="coordinate_type">
        <option value="xy">x, y</option>
        <option value="lonlat">Lon, Lat</option>
        </select>
        </div>
    <br>
        <div id="zoom_field">
            <label for="zoom" style="font-weight: bold">Zoom:</label>
            {{ form.zoom }}
        </div>
    <br>
        <div id="xy_fields">
            <div class="row">
                <div class ="col-3">
                    <label for="x_min" style="font-weight: bold">X min</label>
                    {{ form.x_min }}
                </div>
                <div class ="col-3">
                    <label for="x_max" style="font-weight: bold">X max</label>
                    {{ form.x_max }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class ="col-3">
                    <label for="y_min" style="font-weight: bold">Y min</label>
                    {{ form.y_min }}
                </div>
                <div class ="col-3">
                    <label for="y_max" style="font-weight: bold">Y max</label>
                    {{ form.y_max }}
                </div>
            </div>
        </div>

        <div id="lonlat_fields" style="display:none;">
            <div class="row">
                <div class ="col-3">
                    <label for="lon_min" style="font-weight: bold">Lon min:</label>
                    {{ form.lon_min }}
                </div>
                <div class ="col-3">
                    <label for="lon_max" style="font-weight: bold">Lon max:</label>
                    {{ form.lon_max }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class ="col-3">
                    <label for="lat_min" style="font-weight: bold">Lat min:</label>
                    {{ form.lat_min }}
                </div>
                <div class ="col-3">
                    <label for="lat_max" style="font-weight: bold">Lat max:</label>
                    {{ form.lat_max }}      
                </div>
            </div>
        </div>
    <br>
    <br>
        <div id="preset_area">
            <div class="row">
                <div class="col-6">
                    <label for="preset_area" style="font-weight: bold">Preset area: </label>
                    {{ form.preset_area }}
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-dark" name="fill_coords" style="color" >Fill coordinates</button>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-dark" name="clear_coords" style="color" >Clear</button>
                </div>
            </div>
        </div>
    </div> 
        <div class="col-6"  style="background-color: #FEFFE0; padding: 45px; border-radius: 25px;">
        <h2 style="font-weight: bold; color: #943BBE">Time interval</h3>
        <br>
            <div>
                <label for="date_type" style="font-weight: bold">Choose Date input Type:</label>
                <select id="date_type" name="date_type">
                    <option value="start_end">Start, end dates</option>
                    <option value="days_before">"N" Days before a base date</option>
                </select>
            </div>

            <div id="Date_fields_start_end">
            <br>
                <label for="start_date" style="font-weight: bold">Start_date:</label>
                    {{ form.start_date }}
                    <br>
                <label for="end_date" style="font-weight: bold">End_date:</label>
                    {{ form.end_date }}

            </div>

            <div id="Date_fields_ndays_before" style="display:none;">
            <br>
                <label for="base_date" style="font-weight: bold">Base_date:</label>
                    {{ form.base_date }}
                <br>
                <label for="n_days_before_base_date" style="font-weight: bold">How many days before base date?</label>
                    {{ form.n_days_before_base_date }}
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-dark" name="clear_dates" style="color" >Clear</button>
                </div>
            </div>
        </div>
    <br>
    <div class="form-group mx-sm-3 mb-2">
    <br>
    <div id="other_parameters">
        <div class="row">
            <div class="col-4">
                <label for="overwrite_repetitious" style="font-weight: bold">Overwrite existing images:</label>
                    {{ form.overwrite_repetitious }}
            </div>
            <div class="col-4">
                <label for="inference" style="font-weight: bold">Apply watercraft detection</label>
                    {{ form.inference }}
            </div>
            <div class="col-4">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="save_concated" style="font-weight: bold">Save concatenated inference</label>
                    <input class="form-check-input" type="checkbox" id="save_concated" name="save_concated" value="True" checked>
                </div>  
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="fetch">Get images</button>
    </div>
    </div>
</form>
<script type="text/javascript" src="{% static 'js/fetch_data/sentinelfetch.js' %}"></script>
{% endblock %}

</body>
</html>