{% extends "fetch_data\base.html" %}
{% load static %}

{% block head-static %}
<script type="text/javascript" src="{% static 'js/fetch_data/sentinelfetch.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/fetch_data/sentinel_fetch.css' %}">
{% endblock %}


{% block body %}
<script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>

<div class="container">
{{ form.media }}
<form action="{% url 'fetch_data:SentinelFetch' %}" method="post">
{% csrf_token %}
<div class="row" style="padding: 25px; border-radius: 25px; background-color: #DFF3FF; margin: 6px">
    <div class="col-6" style="background-color: #DFF3FF ; padding: 50px; border-radius: 25px;">
    <h2 id="box_title">Coordinations</h2>
    <br>
    <div>
    <label for="coordinate_type" style="font-weight: bold">Choose Coordinate Type:</label>
    <select id="coordinate_type" name="coordinate_type">
    <option value="xy">x, y</option>
    <option value="lonlat" selected>Lon, Lat</option>
    </select>
    </div>
    <br>
        <div id="zoom_field">
            <label for="zoom" style="font-weight: bold">Zoom:</label>
            {{ form.zoom }}
        </div>
    <br>
        <div id="xy_fields" style="display:none;">
            <div class="row">
                <div class ="col-2">
                    <label for="x_min" style="font-weight: bold">X min</label>
                    <input type="number" id="x_min" name="x_min" value="{{ form.x_min.value|escape }}">
                </div>
                <div class ="col-4">
                </div>
                <div class ="col-2">
                    <label for="x_max" style="font-weight: bold">X max</label>
                    <input type="number" id="x_max" name="x_max" value="{{ form.x_max.value|escape }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class ="col-2">
                    <label for="y_min" style="font-weight: bold">Y min</label>
                    <input type="number" id="y_min" name="y_min" value="{{ form.y_min.value|escape }}">
                </div>
                <div class ="col-4">
                </div>
                <div class ="col-2">
                    <label for="y_max" style="font-weight: bold">Y max</label>
                    <input type="number" id="y_max" name="y_max" value="{{ form.y_max.value|escape }}">
                </div>
            </div>
        </div>

        <div id="lonlat_fields">
            <div class="row">
                <div class ="col-3">
                    <label for="lon_min" style="font-weight: bold">Lon min:</label>
                    <input type="number" step="0.000000001" id="lon_min" name="lon_min" value="{{ form.lon_min.value|escape }}">
                </div>
                <div class ="col-3">
                </div>
                <div class ="col-3">
                    <label for="lon_max" style="font-weight: bold">Lon max:</label>
                    <input type="number" step="0.000000001" id="lon_max" name="lon_max" value="{{ form.lon_max.value|escape }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class ="col-3">
                    <label for="lat_min" style="font-weight: bold">Lat min:</label>
                    <input type="number" step="0.000000001" id="lat_min" name="lat_min" value="{{ form.lat_min.value|escape }}">
                </div>
                <div class ="col-3">
                </div>
                <div class ="col-3">
                    <label for="lat_max" style="font-weight: bold">Lat max:</label>
                    <input type="number" step="0.000000001" id="lat_max" name="lat_max" value="{{ form.lat_max.value|escape }}">     
                </div>
            </div>
        </div>
    <br>
    <br>
        <div id="preset_area">
            <div class="row">
                <div class="col-6">
                    <label for="preset_area" style="font-weight: bold">Preset area: </label>
                    {{ form.preset_area }}
                </div>
                <div class="col-4">
                    <button id="fill_coords" type="submit" class="btn btn-dark" name="fill_coords">Fill coordinates</button>
                </div>
                <div class="col-2">
                    {% comment %} <input type="button" value="Reset" id="resetBtn" onClick="this.form.reset()" /> {% endcomment %}
                    <button type="button" class="btn btn-dark" id="clear_coords" >Clear</button>
                </div>
            </div>
        </div>
    </div> 
        <div class="col-6"  style="background-color: #FFFFFF ; padding: 45px; border-radius: 25px;">
        <h2 id="box_title">Time interval</h3>
        <br>
            <div>
                <label for="date_type" style="font-weight: bold">Choose Date input Type:</label>
                <select id="date_type" name="date_type">
                    <option value="start_end">Start, end dates</option>
                    <option value="days_before">"N" Days before a base date</option>
                </select>
            </div>

            <div id="Date_fields_start_end">
            <br>
                <label for="start_date" style="font-weight: bold">Start_date:</label>
                    {{ form.start_date}}
                    <br>
                <label for="end_date" style="font-weight: bold">End_date:</label>
                    {{ form.end_date }}

            </div>

            <div id="Date_fields_ndays_before" style="display:none;">
            <br>
                <label for="base_date" style="font-weight: bold">Base_date:</label>
                    {{ form.base_date }}
                <br>
                <label for="n_days_before_base_date" style="font-weight: bold">How many days before base date?</label>
                    {{ form.n_days_before_base_date }}
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-dark" id="clear_dates" style="color" >Clear</button>
                </div>
            </div>
        </div>
    <br>
    <div class="form-group mx-sm-3 mb-2">
    <br>
    <div id="other_parameters" >
        <div class="row" style="background-color: #B3DAFF ; padding: 16px; border-radius: 25px; justify-content: center; align-items: center; margin-right: 15px;">
            <div class="col-4" style="color: #000000; font-size: 17px;">
                <label for="overwrite_repetitious" style="font-weight: bold">Overwrite existing images&nbsp</label>
                {% comment %} <input class="checkbox" type="checkbox" id="overwrite_repetitious" name="overwrite_repetitious" value="{{ form.overwrite_repetitious.value|escape }}"> {% endcomment %}
                    {{ form.overwrite_repetitious }}
            </div>
            <div class="col-4" style="color: #000000; font-size: 17px;">
                <label for="inference" style="font-weight: bold">Apply watercraft detection&nbsp</label>
                {% comment %} <input class="checkbox" type="checkbox" id="inference" name="inference" value="{{ form.inference.value|escape }}"> {% endcomment %}
                    {{ form.inference }}
            </div>
            <div class="col-4" style="color: #000000; font-size: 17px;">
                    <label class="form-check-label" for="save_concated" style="font-weight: bold">Save concatenated&nbsp</label>
                    <input class="checkbox" type="checkbox" id="save_concated" name="save_concated" value="True" checked>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="fetch">Get images</button>
    </div>
    </div>
</form>
<script type="text/javascript" src="{% static 'js/fetch_data/sentinelfetch.js' %}"></script>
{% endblock %}

</body>
</html>