.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  margin-top: 5px;
}

.row#outer_box {
  background-image: linear-gradient(to bottom, rgb(66, 66, 66), rgb(255, 255, 255));
  padding: 25px;
  border-radius: 25px;
  margin: 6px;
 }

 h2#page_title {
  font-weight: bold; 
  font-size: 42px ;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
 }


 #halfbox_r {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(221, 255, 215));
  /* background-color: #FEFFE0;  */
  padding: 45px;
  border-radius: 25px;
 }

 #halfbox_l {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(165, 216, 209));
  /* background-color: #9DC8F1 ; */
  padding: 50px;
  border-radius: 25px;
   }

  #halfbox_title {
    font-weight: bolder;
    font-size: 34px;
    color: #030F7F;
   }
   

 .variable {
  color: rgb(182, 71, 43);
}