.details-row {
    display: none;
  }
  
.details-row.show {
display: table-row;
}

.lonlat {
color: rgb(182, 71, 43);
}

.indent-10 {
    margin-left: 120px;
}

.date {
    color: rgb(182, 71, 43);
    }

.info {
color: rgb(182, 71, 43);
font-size: 17px;
font-weight: normal;
}

.username {
  color: rgb(58, 60, 219);
  font-size: 17px;
  font-weight: bold;
  }