.lonlat {
color: rgb(182, 71, 43);
}

.bold_number {
  color: rgb(182, 71, 43);
  font-weight: bold;
  }

.indent-10 {
    margin-left: 120px;
}

.date {
    color: rgb(24, 38, 161);
    }

.info {
color: rgb(182, 71, 43);
font-size: 17px;
font-weight: normal;
}

.username {
  color: rgb(58, 60, 219);
  font-size: 17px;
  font-weight: bold;
  }

table .collapse.in {
  display:table-row;
}

#chevron-down {
  content: url("..\\..\\icons\\chevron-down.svg")
}

.result-meta {
  color: rgb(182, 71, 43);
  font-weight: bolder; 
  font-size: 26px
}

.result-meta-green {
    color: rgb(21, 114, 3);
    font-weight: bolder; 
    font-size: 26px
  }


.title {
  font-size: 26px;
  font-weight: bold;
  color: black;
  padding: 0px;
}

.wrapper {
  margin-top: 5vh;
}

.dataTables_filter {
  float: right;
}

.table-hover > tbody > tr:hover {
  background-color: rgb(224, 222, 255);
}


thead {
  background: rgb(206, 233, 227);
}


.highlight {
  background: #ffff99;
}

.result-meta-purple {
  color: rgb(93, 10, 126);
  font-weight: bolder; 
  font-size: 26px
}

.result-meta-blue {
  color: rgb(84, 130, 230);
  font-weight: bolder; 
  font-size: 26px
}

.result-meta-black-normal {
  color: rgb(0, 0, 0);
  font-weight: normal; 
  font-size: 20px
}

#objects_table thead th {
  height: 40px;
}

/* Add striping to the table */
#objects_table tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; /* Set the background color for odd rows */
}

/* Change background color of table cells */
#objects_table td {
  background-color: #ffffff; /* Set the background color for table cells */
}